<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
  <title>{% block title %}{% endblock %} Super zwierzaki</title>
</head>
<body>
    <body>
     <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="{% url 'index' %}">Super Zwierzaki</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Moja kolekcja</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Wyszukiwarka</a>
                </li> -->
            </ul>
             
            <div class="btn-group">
                <a href="{% url 'settings' %}" class="btn btn-outline-secondary">Ustawienia</a><a href="{% url 'logout' %}" class="btn btn-outline-secondary">logout</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% if user.is_authenticated %}
   
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
</body>
</html>