<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>Moja kolekcja | Super Zwierzaki</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="#">Super Zwierzaki</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Moja kolekcja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wyszukiwarka</a>
                </li>
            </ul>
            <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">Ustawienia</a> <a href="#" class="btn btn-outline-secondary">Wyloguj</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Moja kolekcja</h1>
            <p>Ta strona przedstawia karty, które aktualnie posiadasz.</p>Aby zmodyfikować informacje o aktualnie posiadanych przez Ciebie kartach, skorzystaj z odnośników znajdujących się u dołu karty. Zawartość swojej kolekcji możesz zmodyfikować również w <a href="#">Ustawieniach</a>.
        </div>
    </div>
    <div class="container">
        <div class="card-columns">
            {% if cards_list %}
            {% for card in card_list %}
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">{{ card.name }}</h2>
                    <p class="card-text">To jest opis tej karty. Gdy jest długi, to fajnie to wygląda. Alternatywnie, można dodać do karty obrazek. <span class="badge badge-default">{{ card.card_type }}</span></p>
                </div>
                <div class="card-footer text-muted d-flex flex-wrap justify-content-between align-items-center">
                    Dodano {{ card.added_date }} <a href="#">Edytuj</a> <a href="#">Usuń</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card p-3 text-center">
                <a href="{% url 'card_new' %}" class="btn btn-lg btn-block">Dodaj kartę</a>
            </div>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <footer>
            <p>© 2017 Super Zwierzaki</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
